analog/adc_obj_dir
analog/*.h
attack/cnn/outputs*
attack/cnn/archive*
synth/*
build
*.swp
*.so
*.log
*.ods
__pycache__
.DS_Store
obj_dir
trained_models*
outfiles*
demo*.cir
*runme*.cir
seeds_*
temp*txt
